@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #0e0904;
  --background-alpha: #1b1207;
  --on-background: #ebddcc;
  --foreground: #548e75;
  --on-foreground: #e6f6ef;
}

@theme inline {
  --color-background: var(--background);
  --color-background-alpha: var(--background-alpha);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);
  --color-on-foreground: var(--on-foreground);
  --font-sans: var(--font-vazirmatn);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0904;
    --background-alpha: #1b1207;
    --on-background: #ebddcc;
    --foreground: #548e75;
    --on-foreground: #e6f6ef;
  }
}

@layer base {
  body {
    background-color: var(--color-background);
  }
}
